@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
:root {
    --primary-color: #5b7bb4;
    --secondary-color: #425b84;
    --max-width: 1100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: #eeeeee;
    font-family: 'Acme', sans-serif;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    line-height: 1.4;
    text-align: center;
}

#header::before {
    position: absolute;
    content: '';
    background: url('../assests/showcase.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;

}

#timeline ul{
    background-color: var(--secondary-color);
    padding: 50px 0;
    list-style: none;
}

#timeline ul li {
    margin: 0 auto;
    width: 6px;
    background: white;
    padding-top: 50px;
    position: relative;
}

#timeline ul li div {
    width: 400px;
    box-shadow: 1px 1px 10px var(--primary-color);
    position: relative;
    /*left: 50px;*/
    left: 2200px;
    background: var(--primary-color);
    padding: 1rem;
    font-size: 1.2rem;
    opacity: 0;
    transition: all .8s ease-in-out;
    visibility: hidden;
}

#timeline ul li:nth-child(even) div {
    /*left: -450px;*/
    left: -2200px
}


#timeline ul li.show div {
    opacity: 1;
    left: 50px;
    visibility: visible;
}
#timeline ul li:nth-child(even).show div {
    left: -450px;
}

#timeline ul li::after {
    content: '';
    background: var(--primary-color);
    width: 25px;
    height: 25px;
    position: absolute;
    left: -10px;
    bottom: 0;
    border-radius: 50%;
    z-index: 2;
}

#timeline li div::after {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
}

#timeline li:nth-child(odd) div::after{
    left: -24px;
    border: 8px solid transparent; /* Прозрачные границы */
    border-right: 16px solid var(--primary-color); /* Добавляем треугольник */
}


#timeline li:nth-child(even) div::after{
    right: -24px;
    border: 8px solid transparent; /* Прозрачные границы */
    border-left: 16px solid var(--primary-color); /* Добавляем треугольник */
}

@media screen and (max-width: 900px) {
    #timeline ul li div {
        width: 250px;
    }
    #timeline ul li:nth-child(even) div {
        left: -290px;
    }
}

@media screen and (max-width: 620px) {
    #timeline ul li {
        margin: 0 15px;
        width: 6px;
        background: white;
        padding-top: 50px;
        position: relative;
    }

    #timeline ul li div {
        width: calc(100vw - 90px);
    }

    #timeline ul li:nth-child(even) div {
        left: 50px;
    }

    #timeline li:nth-child(even) div::after{
        left: -24px;
        border: 8px solid transparent; /* Прозрачные границы */
        border-right: 16px solid var(--primary-color); /* Добавляем треугольник */
    }
}